.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
ruff_cache/
.vscode/
.idea/

# No metas data local al build (se monta como volumen)
data/
assets/

# PDFs/CSVs generados
*.pdf
*.csv

# Si NO quieres copiar modelos al build (recomendado)
models/
